In [4]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}
emp_info={'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}
print(emp_info['Tom'])
# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}
print(emp_info['Kathy'])

KeyError: 'Tom'

In [10]:
# Create a dictionary out of below inputs
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}
emp_lst=[]
emp_lst.append(emp1_val)
emp_lst.append(emp2_val)
emp_lst.append(emp3_val)
out_dic={}
for i in range(3): 
    out_dic.update({lst1[i]:{emp_key[0]:emp_lst[i][0] , emp_key[1]:emp_lst[i][1] , emp_key[2]:emp_lst[i][2]} })   
print(out_dic)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [33]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print(sampleDict["class"]["student"]["marks"]["history"])

80

In [41]:
# Initialize dictionary with default values. Inputs are:-
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}
dt={}
for i in employees:
    dt.update({i:{"designation": 'Application Developer', "salary": 8000}})
print(dt)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [3]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.
ipt=input("enter the DNA sting:\n")
dt={'A':'U','T':'A','C':'G','G':'C'}
def dna(a,dct):
    st=''
    for i in a:
        st+=dct[i]  
    return st
res=dna(ipt,dt)
print(f"DNA={ipt} corresponding RNA ={res}")

enter the DNA sting:
ATCG
DNA=ATCG corresponding RNA =UAGC

In [43]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
ipt=input("enter any word:\n")
dt={}
for i in ipt:
    dt.update({i:ipt.count(i)})
print(dt)

enter any word:
google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [45]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }
ipt=input("enter string which consits of A,T,C,G:\n")
d={}
def dna(a):
    d.update({"A":a.count('A')})
    d.update({"C":a.count('C')})
    d.update({"T":a.count('T')})
    d.update({"G":a.count('G')})
    return d
print(dna(ipt))

enter string which consits of A,T,C,G:
CTATCGGCACCCTTTCAGCA
{'A': 4, 'C': 8, 'T': 5, 'G': 3}

In [47]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.


#5.none of the above.

In [ ]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()   ------> option :2
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

In [ ]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }-----------> option:3 becaz keys should not have mutable type
# 4. d = { 1: 0.4 }
# 5. None of the above

In [61]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []
dt={'a':1, 'b':2, 'c':2}
ipt=int(input("enter any value:\n"))
def reverseLookup(dct,val):
    out=[]
    
    if val in dct.values():
        for i in dct:
            if dct[i] ==val:
                out.append(i)
        return out
res=reverseLookup(dt,ipt)
print(res)

enter any value:
2
['b', 'c']

In [71]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

ipt=eval(input("enter a dict:\n"))
dt=ipt.copy()
def invertDictionary(ipt):
    fd={}
    for i in ipt:
        if ipt[i] not in fd:
            fd.update({ipt[i]:[i]})
        else:
            fd[ipt[i]]=fd[ipt[i]]+[i]
    print(fd)
invertDictionary(ipt)

enter a dict:
{'a':2, 'b':1, 'c':2, 'd':1}
{2: ['a', 'c'], 1: ['b', 'd']}

In [74]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}
ipt=eval(input("enter a sparse vector:\n"))
dt={}
for i in range(len(ipt)):
    if ipt[i]!=0:
        dt.update({i:ipt[i]})
print(dt)

enter a sparse vector:
[0, 0, 0, 0, 0]
{}

In [80]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []
ipt=eval(input("enter a dictionary:\n"))
i=list(ipt.keys())
lst=[0]*(i[-1]+1)
for j in ipt:
    lst[j]=ipt[j]
print(lst)

enter a dictionary:
{0: 1, 3: 2, 7: 3, 12: 4}
[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]

In [86]:
# Given a Python dictionary, Change Bradâ€™s salary to 8500
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }
ename=input("enter the employee name \n")
fld=input("enter the employee  required field:\n")
if fld=="salary":
    chg=int(input("enter the chages required:\n"))
sampleDict[ename][fld]=chg 
print(sampleDict)

enter the employee name
emp3
enter the employee  required field:
salary
enter the chages required:
8500
{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [90]:
# Get the key corresponding to the minimum value from the following dictionary
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
low=sampleDict['Physics']
for i in sampleDict:
    if low>sampleDict[i]:
        low=sampleDict[i] 
        key=i
print(key)       
# Expected Output
# Math

Math

In [2]:
# Rename key city to location in the following dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

old_key=input("enter old key:\n")
new_key=input("enter new key:\n")
lst=str(sampleDict)
lst=lst.replace(old_key,new_key)
newdict=eval(lst)
print(newdict,type(newdict))
# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

enter old key:
city
enter new key:
location
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'} <class 'dict'>

In [4]:
# Check if a value 200 exists in a dictionary
sampleDict = {'a': 100, 'b': 200, 'c': 300}
val=int(input("enter any value:\n"))
if val in sampleDict.values():
    print(True)
else:
    print(False)
# Expected Output: True

enter any value:
400
False

In [6]:
# Delete set of keys from Python Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}


for i in keysToRemove:
    sampleDict.pop(i)
print(sampleDict)

{'age': 25, 'city': 'New york'}